// Place all the styles related to the artists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#artist-info {
  margin-left: 110px;
}

#artist-info-pad {
  height: 2px;
}

#artist-panel-name {
  margin-left: 70px;
}

#artist-panel-introduction {
  margin-left: 78px;
}


#artists-ranking-artist {
  margin: 0px 10px 20px 0;
}

#artists-ranking-artist-name {
  padding-left: 110px;
  font-size: 24px;
}

#artists-ranking-artist-introduction {
  padding-left: 115px;
}

